<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=' '+title%> - <%=' '+author%>
    </title>
    <link rel="stylesheet" href="lyrics.css">
</head>

<body>
    <nav id="nav">
        <a href="/">home</a>
        <a href="/about">About</a>
        <a href="/privacy">Privacy</a>
    </nav>

    <div id="body">
        <div id="lyricsContainer" class="container">
            <div class="container-inner">
                <%pagelyrics.forEach(bar=> {bar = bar.toString();
                    if (bar == '') { ;%>
                    <br>
                    <% }else if (bar[0]==' [' ){ %>
            <p id=' bar'>
                <span class="marker">
                    <%=bar %>
                </span>
            </p><br>
            <%}else{%>
                <p id="bar">
                    <%= bar %>
                </p>
                <%}})%>


                    </div>
                    <div class="scroll-marker"></div>
                    </div>

                    <div id="wrapper">
                        <center><button onclick="downloadimage()" id="downloader">DOWNLOAD</button></center>
                        <div id="mainContainer">
                            <div id="identity">
                                <img id="albumArt" src="<%=art%>" crossorigin="anonymous" alt="">
                                <div id="name">
                                    <p>
                                        <%=title%>
                                    </p>
                                    <p>
                                        <%=author%>
                                    </p>
                                </div>
                            </div>
                            <div id="barz">
                                <br>
                                <h3 contenteditable="true" id="bar">choose or type lyrics</h3>
                                <br>

                            </div>
                            <div id="other">
                                <img id="spotify_logo" style="height: 32px;" src="svg/Spotify_Logo_RGB_White.png"
                                    alt="spotify icon" crossorigin="anonymous" />
                            </div>
                        </div>
                        <div id="colors">
                            
                        </div>
                    </div>
                    </div>
                    <footer>
                        <p>Made By <a href="https://github.com/MythicalMayhem/sgxlyrics">MythicalMayhem</a></p>
                        <p>Made Possible By
                            <a href="https://www.genius.com" target="_blank">Genius.com</a> and
                            <a href="https://www.spotify.com" target="_blank">spotify.com</a> api
                        </p>
                    </footer>
                    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
                    <script src="clientlyrics.js"></script>
                    <script>
                        function downloadimage() {
                            var container = document.getElementById("mainContainer");
                            html2canvas(container, {
                                allowTaint: true, useCORS: true, backgroundColor: null, imageTimeout: 15000
                            }).then(function (canvas) {
                                container.style.boxShadow = 'none'
                                var link = document.createElement("a");
                                document.body.appendChild(link);
                                link.download = "html_image.png";
                                link.href = canvas.toDataURL();
                                link.target = '_blank';
                                link.click();
                                container.style.boxShadow = '0px 0px 20px rgba(0, 0, 0, 0.747)'
                            });
                        }
                        function rgbToHex(r, g, b) {
                            return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
                        }
                        const colorThief = new ColorThief();
                        const img = document.querySelector('#albumArt');
                        if (img.complete) {
                            console.log(colorThief.getPalette(img, 10));
                        } else {
                            image.addEventListener('load', function () {
                                console.log(colorThief.getPalette(img, 10));});
                        }
                    </script>


                    </body>

</html>